html body {
    width:  100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    width: 75%;
    height: 100%;
    background: #3f617b;
    cursor: url(./img/cursor.svg) 15 15, auto;
}

aside {
    width: 25%;
    height: 100%;
    background-color: rgb(235, 235, 235);
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    overflow-x: hidden;
    overflow-y: scroll;
}

.banner-wrapper {
  border-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 90%;
  height: auto;
  margin-top: 20px;
}

.subhead {
  font-weight: 900;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 7px;
  margin-bottom: 5px;
}

.block-header {
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  color: gray
}

.btns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.button-7 {
    background-color: #0095ff;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    flex: 1 1 calc(50% - 5px);
    margin: 0px;
  }
  
  .button-7:hover,
  .button-7:focus {
    background-color: #07c;
  }
  
  .button-7:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }
  
  .button-7:active {
    background-color: #0064bd;
    box-shadow: none;
  }

  .button-7:disabled,
  button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor:default;
  }

.check {
  margin-top: 5px;
  margin-left: 20px;
}

.fff {
  color: #ffffff
}

.credits {
  display: block;
  font-size: 0.9rem;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}

a {
  color: #07c;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
}

.footer {
  background-color: rgb(235, 235, 235);
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
  box-shadow: 0 -1px 0 #7b7b7b;
  text-align: center;
}

.footer a{
  display: block;
  margin: 5px 0 5px 0;
}

.footer a img {
  width: 95%;
}

#debug {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  z-index: 1000;
}

.close-menu {
  display: none;
}

.toolbar {
  position: absolute;
  display: block;
  width: fit-content;
  height: fit-content;
  top: 10px;
  right: calc(25% + 10px);
}

.toolbar img {
    display: block;
    width: 60px;
    height: 55px;
    background-color: rgba(236, 236, 236, 0.328);
    opacity: 0.5;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.toolbar #menu-mobile {
  display: none;
}

.pathBuilder,
.measureBuilder {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 300px;
  min-height: 100px;
  /* outline: 1px red solid; */
  flex-direction: column;
  justify-content: flex-end;
}

.pathBuilder span,
.measureBuilder span {
  color: rgba(255, 255, 255, 0.782);
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-weight:600;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.pathBuilder .output,
.measureBuilder .output {
  width: calc(100%-10px);
  min-height: 120px;
  background-color: rgba(255, 255, 255, 0.183);
  border-radius: 5px;
  border: 0px;
  color: white;
  font-family: monospace;
  padding: 5px;
  overflow-y: scroll;
  margin-bottom: 5px;
  line-height: 1.1rem;
}

.pathBuilder .dialogButtons,
.measureBuilder .dialogButtons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.pathBuilder .clear-btn,
.measureBuilder .clear-btn {
  background-color: #f94b4b;
}

.pathBuilder .clear-btn:hover,
.pathBuilder .clear-btn:focus,
.measureBuilder .clear-btn:hover,
.measureBuilder .clear-btn:focus {
  background-color: rgb(205, 60, 60);
}
  
.pathBuilder .clear-btn:active,
.measureBuilder .clear-btn:active {
  background-color: #c61313;
  box-shadow: none;
}

.pathBuilder .copy-btn {
  background-color: #39c46a;
}

.pathBuilder .copy-btn:hover,
.pathBuilder .copy-btn:focus {
  background-color: #2fa458;
}
  
.pathBuilder .copy-btn:active {
  background-color: #21773f;
  box-shadow: none;
}


@media (width <= 780px) {

  canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  #sidebar {
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .banner-wrapper {
    width: 80%;
  }

  .credits {
    font-size: calc(80%);
  }

  .toolbar {
    right: 10px;
  }

  .toolbar #menu-mobile {
    display: block;
  }

  .pathBuilder .output {
    max-height: 150px;
    overflow-y: scroll;
    border: 0px solid white;
  }

  .close-menu {
    display: block;
    width: 50px;
    height: 50px;
  }
}

